<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="DjangoWebHandler" />
            <add name="DjangoWebHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="G:\env\python.exe|C:\inetpub\wwwroot\check\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
